@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');
.logo{
    float: left;
    cursor: pointer;
    top: 0;
}
body{
    background-image:url('Screenshot\ \(36\)-01.jpeg');
    background-position: center;
    background-size: cover;
   
   
  
}
.menu{
   
  cursor: pointer;
  border:none;
  float: right;
  top: 0;
}
.button{
    transition: all .5s ease;
    color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    font-size: 15px;
    background-color :none;
    padding: 10px;
    border-radius: 7px;
}
.button:hover {
    color: #dbdbdb;
    background-color: rgb(75, 75, 75);
}
.nav{
    list-style-type: none;
    margin-left: 420px;
    padding-top: 20px;
  }
  .list1{
    float:right;
    padding: 0px 10px;
  }
  
  .social{
    list-style-type: none;
    
  }
  p{
    font-size: large;
    font-family: 'Josefin Sans';
    max-width: 650px;
    padding-top: 190px;
    padding-left: 250px;
  }
  a
  {
    color: black;
  }
  .me{
float: right;
font-family: 'Josefin Sans';
 }
  